<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <title>PosTasks - Tasks</title>
</head>
<body>
    <div id="main" class="h-screen w-screen">
        <%- include("../partials/tasksnavbar") %>
        <%- include("../partials/flash") %>
        <div class="w-1/2 mx-auto pt-6 pb-3">
            <div>
                <h1 class="text-2xl my-2">Tasks</h1>
            </div>
            <% if (rowsNum === 0) { %>
                <p class="my-10 text-base">No Tasks yet! Click the + at the top to add one!</p>
            <% } else { %>
            <% for (let i = 0; i < rowsNum; i++) { %>
                <div class="p-2 border relative" id="taskDiv">
                    <a href="/tasks/<%= rows[i].id %>">
                        <h4 class="text-base text-gray-600"><%= rows[i].name %></h4>
                        <p class="text-sm text-gray-500"><%= rows[i].description %></p>
                        <p><i class="fa-regular fa-calendar"></i> <%= rows[i].due %></p>
                    </a>
                    <div class="absolute right-0 top-0">
                        <a href="/tasks/<%= rows[i].id %>/edit" class="bg-white hover:bg-slate-200 p-1 my-1 rounded-sm"><i class="fa-regular fa-pen-to-square"></i></a>
                        <form action="/tasks/<%= rows[i].id %>?_method=DELETE" method="post" class=" inline p-1 my-1">
                            <button class="bg-white hover:bg-red-200 rounded-sm p-1 my-1 hover:text-red-600"><i class="fa-regular fa-trash-can"></i></button>
                        </form>
                    </div>
                </div>
            <% } %>
            <% } %>
        </div>
    </div>
    <div id="new" class="rounded-md absolute w-[75%] h-[40%] bg-white m-auto left-0 right-0 top-0 bottom-0 brightness-100 backdrop-brightness-100 hidden">
        <div class="p-4">
            <span class="text-sm font-light p-1"><i class="fa-solid fa-plus"></i> New Task</span>
            <a class="absolute right-2 text-sm font-light hover:bg-slate-200 p-1" href="/tasks"><i class="fa-solid fa-x"></i></a>
        </div>
        <hr>
        <div class="p-4">
            <form action="/tasks" method="POST">
                <input type="text" name="taskName" id="taskName" class="text-lg w-full p-1 mb-2" placeholder="Task Name" required autofocus>
                <textarea name="taskDescription" id="taskDescription" cols="50" rows="5" class="text-sm w-full p-1" placeholder="Description" required></textarea>
                <div class="p-1">
                    <label for="dueDate">Due: </label>
                    <input type="date" name="dueDate" id="dueDate" class="border" required>
                </div>
                <div class="right-2 absolute">
                    <a href="/tasks" class="bg-gray-300 hover:bg-gray-400 h-8 rounded-sm p-1 inline-block">Cancel</a>
                    <button class="bg-green-500 hover:bg-green-600 text-white rounded-sm h-8 p-1">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    const newBtn = document.querySelector("#addBtn")
    const newDiv = document.querySelector("#new")
    const mainDiv = document.querySelector("#main")
    const closeBtn = document.querySelector("#close")
    newBtn.addEventListener("click", () => {
        newDiv.classList.remove("hidden")
        mainDiv.classList.add("backdrop-brightness-75", "brightness-75")
    })
</script>

